# Replicate Configuration
REPLICATE_API_TOKEN=your_token_here
REPLICATE_ORG=ducktapedevops

# Model Version Overrides (optional)
MODEL_PHOTOMAKER=jd7h/photomaker:latest
MODEL_CLIP_INTERROGATOR=andreasjansson/clip-interrogator:latest
MODEL_SDXL=stability-ai/sdxl:latest